@model IEnumerable<ProyectoFinal_G1_Autenticado.Models.EditRolesViewModel>
@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Lista de Usuarios</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rol actual</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@(user.SelectedRole ?? "Sin rol")</td>
                <td>
                    @Html.ActionLink("Editar Rol", "EditRoles", new { id = user.UserId }, new { @class = "btn btn-sm btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
